<h1>Chopped Mystery Basket Generator!</h1>

<p>Make your very own Mystery Basket!</p>
<p>Just like on, <a href="http://www.foodnetwork.com/chopped/" target="none">Chopped</a>, the cooking show on Food Network!</p>
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <h4>Appetizer Ingredients</h4>
    <li class="list-unstyled" ng-repeat="appetizer in appetizers | limitTo:4">{{ appetizer }}</li>
    <button type="button" class="btn btn-primary" ng-click="newBox(appetizers)">New Basket!</button>
  </div>
  <div class="col-xs-12 col-sm-4">
    <h4>Entree Ingredients</h4>
    <li class="list-unstyled" ng-repeat="entree in entrees | limitTo:4">{{ entree }}</li>
    <button type="button" class="btn btn-primary" ng-click="newBox(entrees)">New Basket!</button>
  </div>
  <div class="col-xs-12 col-sm-4">
    <h4>Dessert Ingredients</h4>
    <li class="list-unstyled" ng-repeat="dessert in desserts | limitTo:4">{{ dessert }}</li>
    <button type="button" class="btn btn-primary" ng-click="newBox(desserts)">New Basket!</button>
  </div>
</div>